huggingface_hub
pytorch-lightning[extra]
numpy
ctranslate2
deepspeed
lean_dojo==1.9.0
loguru
networkx
ray
vllm
requests
torch
tqdm
transformers
mega.py
ipdb
openai
psutil
python-dotenv
rank_bm25
tabulate
torchmetrics
typing_extensions