pytorch-lightning[extra]
numpy
deepspeed
lean_dojo==1.9.0
loguru
networkx
ray
vllm
requests
torch
tqdm
transformers
openai
python-dotenv
rank_bm25
torchmetrics
PyYAML==6.0.1
pytest==8.4.0
pytest-cov==6.2.1
